/**
 * Paleta de colores
 */
body
{
	background-image: url(../archivos/fondo.jpg);
}
.contenedor
{
	margin-top: -10px;
	text-align: center;
}
.cuerpo
{
	background: white;
	margin: 0 auto;
	width: 800px;
}
header.banner a img
{
	width: 100%;
}
section header.horizontal
{
	text-align: left;
	padding: 0.3em 1em;
}
aside.enlaces
{
	width: 20%;
	padding: 0.2em 0.2em;
	float: left;
	text-align: center;
}
section.contenido
{
	float: left;
	width: 79%;
}
article.previsualizar
{
	width: 100%;
	padding-right: 0.1em 1em;
}
article.previsualizar h3
{
	margin-top: 0px;
	margin-bottom: 0px;
}
article.previsualizar p img.articulo
{
	float: left;
	width: 100%;
}
article.previsualizar p
{
	margin-top: 5px;
	float: left;
	padding:0 0.2em;
}
article.previsualizar img
{
	width: 100%;
}